<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a routerLink="/">Craft</a></li>

            <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/login">Sign in</a></li>
            <li><a routerLink="/allskills">Skills</a></li>
            <li><a routerLink="/myskill">My Skills</a></li>

        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">

            <li *ngIf="isLoggedIn">
                <a href="#">Profile</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <!-- <li class="uk-active"><a href="#">Skills</a></li> -->
                        <li><a routerLink="add-skill">Add Skill</a></li>
                        <li><a routerLink="#" (click)="logOut()">Log out</a></li>
                    </ul>
                </div>
            </li>


        </ul>

    </div>
</nav>