  <div class="uk-padding" > 
      <div class="uk-card uk-card-default uk-card-body ">
          <h3 class="uk-card-title">Add new skill</h3>
  <fieldset class="uk-fieldset">


      <div class="uk-margin"> 
          <input class="uk-input" type="text" placeholder="Name" name="name" [(ngModel)]="data.name">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Phone" name="Phone" [(ngModel)]="data.phone" >
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Skill" name="Skill" [(ngModel)]="data.skill">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="City" name="city" [(ngModel)]="data.city">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Price" name="price" [(ngModel)]="data.price">
      </div>


      <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" placeholder="Notes" name="notes" [(ngModel)]="data.notes"></textarea>
      </div>



      <div class="uk-margin">
        
              <button class="uk-button uk-button-primary" (click)="addSkill()" >Submit</button>
        

      </div>

  </fieldset>
</div>
</div>
