  <div class="uk-padding" > 
      <div class="uk-card uk-card-default uk-card-body ">
          <h3 class="uk-card-title">Add new skill</h3>
  <fieldset class="uk-fieldset">


      <div class="uk-margin"> 
          <input class="uk-input" type="text" placeholder="Name" name="name" [(ngModel)]="name">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Phone" name="Phone" [(ngModel)]="phone" >
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Skill" name="Skill" [(ngModel)]="skill">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="City" name="city" [(ngModel)]="city">
      </div>
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Price" name="price" [(ngModel)]="price">
      </div>


      <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" placeholder="Notes" name="notes" [(ngModel)]="notes"></textarea>
      </div>



      <div class="uk-margin">
          <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
        
              <button class="uk-button uk-button-primary">Primary</button>
        

      </div>

  </fieldset>
</div>
</div>
